body {
    background-color: black;
}

h2 {
    color: wheat;
}

p {
    color: wheat;
}

.column {
    float: left;
    width: 50%;

}

.introduction {
    float: left;
    margin-left: 330px;
    margin-right: -35px;
}

.photo {
    float: right;
    margin-right: 380px;
    margin-left: -35px;
    ;
}

.name {
    position: relative;
    font: bold;
    font-size: 53px;
    font-family: Apple Chancery, cursive;
    font-style: italic;
    margin-top: -6px;
    font-weight: 600;
    font-variant: small-caps;
}

.fade {
    position: absolute;
    font: bold;
    font-size: 60px;
    margin-top: -37px;
    font-family: sans-serif;
    font-style: italic;
    color: #55555555;
    overflow: hidden;
}

.desc {
    position: relative;
    font: bold;
    font-size: 17px;
    font-family: Apple Chancery, cursive;
    font-style: italic;
    margin-top: -6px;
    font-weight: 600;
    font-variant: small-caps;
    color: wheat
}

.row:before {
    content: "";
    display: table;
    clear: both;
    height: 160px;

}

.row:after {
    content: "";
    display: table;
    clear: both;
}