body {
    background-color: black;
}

h2 {
    color: white;
}

p {
    color: white;
}

.column {
    float: left;
    width: 50%;

}

.introduction {
    float: left;
    margin-left: 360px;
    margin-right: -35px;
}

.photo {
    float: right;
    margin-right: 420px;
}

figure {
    color: white;
    font-family: Apple Chancery, cursive;
    margin-left: 175px;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

figcaption {
    margin-left: -30px;
    font-size: 10px;
    font-family: Apple Chancery, cursive;
    font-style: italic;
}

.Experience {
    color: white;
    float: left;
    margin-left: 360px;
    margin-top: 100px;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: white;
}

.name {
    position: relative;
    font: bold;
    font-size: 40px;
    font-family: Apple Chancery, cursive;
    font-style: italic;
    margin-top: -6px;
    font-weight: 600;
    font-variant: small-caps;
}

img {
    border-radius: 50%;
}

.fade {
    position: absolute;
    font: bold;
    font-size: 53px;
    margin-top: -37px;
    font-family: sans-serif;
    font-style: italic;
    color: #55555555;
    overflow: hidden;
}

.desc {
    position: relative;
    font: bold;
    font-size: 17px;
    font-family: Apple Chancery, cursive;
    font-style: italic;
    margin-top: -20px;
    font-weight: 600;
    font-variant: small-caps;
    color: white
}

.row:before {
    content: "";
    display: table;
    clear: both;
    height: 160px;

}

.row:after {
    content: "";
    display: table;
    clear: both;
}